<div class="row">
    <div class="col-lg-2 offset-5">
        <h4>MY EXPERTISE</h4>
    </div>
</div>

<div class="row " id="expert">
    <div class="col-md-4">
        <div class="col-md-4 text-center animate-box">
            <div class="services color-1">
                <span class="icon">
                    <i class="fa fa-database" aria-hidden="true"></i>
                </span>
                <div class="desc">
                    <h3> Conception AND WEB DESIGN</h3>
                    <p>Before developing my web and mobile applications I make my  conception and prototypes with  Draw.io and figma software</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4 text-center animate-box">
            <div class="services color-2">
                <span class="icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </span>
                <div class="desc">
                    <h3>MOBILE DEVELOPMENT</h3>
                    <p>I develop mobile applications with modern Technologies like Flutter.It's a cross-platform framework that allows you to generate from a single source code an android and ios application </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="col-md-4 text-center animate-box">
            <div class="services color-3">
                <span class="icon">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </span>
                <div class="desc">
                    <h3>WEB DEVELOPMENT</h3>
                    <p>I develop responsive web applications with modern Technologies like angular10 as a framwork frontend,node and express js as a framwork backend and mongodb as a database</p>
                </div>
            </div>
        </div>
    </div>
</div>
