<footer class="footer-distributed" style="padding-top: 100px;">

    <div class="footer-left">

        <img src="assets/images/logo.png" width="300" height="100">

        <p class="footer-links">
            <a routerLink="" class="link-1">Home</a>

            <a routerLink="projects">Projects</a>

            <a routerLink="contact">Contact</a>

            <a href="certificates">Certificates</a>

            
        </p>

        <p class="footer-company-name">Powered by Ajmi Mohamed Aziz © 2022</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>9 minyar street </span> City wifek khaznadar,Tunisia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+216.26.319.813</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:ajmiaziz109@gmail.com">ajmiaziz109@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About myself</span>
            I'am a full stack js and flutter developer .
        </p>

        <div class="footer-icons">

           
            <a href="https://www.linkedin.com/in/mohamed-aziz-el-ajmi-b04244226/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/jimyyy"><i class="fab fa-github"></i></a>

        </div>

    </div>

</footer>
