/*.navbar {*/
/*  background-color: white;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  padding: 10px;*/
/*}*/

.navbar-logo img {
  height: 120px;
  margin-top: 10px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}

.navbar-menu {
  list-style: none;
  margin-right:100px;
  padding: 0;
  display: flex;
}
nav ul li
{
  margin:0 30px;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
}
.navbar-menu a:hover {
  text-decoration: none;
  color:#854fee;
}

@media (max-width: 740px) {
  .navbar-toggle {
    display: block;
    margin-right: -160px;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-menu.active li {
    margin-left: 0;
    text-align: center;
  }
}
