


     
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo">
                    <img src="assets/images/logo.png" alt="" width="200" class="animate__animated animate__bounce">
                </div>
                <!-- NAVIGATION MENU -->
                <ul class="nav-links">
                  <!-- USING CHECKBOX HACK -->
                  <input type="checkbox" id="checkbox_toggle" />
                  <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                  <!-- NAVIGATION MENUS -->
                  <div class="menu">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="projects">Projects</a></li>
                   
                    <li><a routerLink="certificates">Certificates</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                  </div>
                </ul>
              </nav>


  


