<div class="container">
<div class="row">
  <nav class="navbar">
      <div class="navbar-logo">
        <a href="#"><img src="assets/images/Free_Sample_By_Wix.jpg" alt="Logo" loading="lazy"></a>
      </div>


      <div class="navbar-toggle" (click)="toggleNavbar()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navbar-menu" [ngClass]="{'active': isNavbarOpen}">
        <li><a href="">Home</a></li>
        <li><a href="certificates">Certificates</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
  </nav>


</div>



</div>


