<div class="content" style="padding-top: 200px;">
    <div class="slider-container">
        <div class="menu" >
            <label for="slide-dot-1"></label>
            <label for="slide-dot-2"></label>
            <label for="slide-dot-3"></label>
            <label for="slide-dot-4"></label>
            <label for="slide-dot-5"></label>
            <label for="slide-dot-6"></label>
        </div>
    
        <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
        <img class="slide-img" src="assets/images/9antra.png">
    
        <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
        <img class="slide-img" src="assets/images/img1.png">
    
        <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
        <img class="slide-img" src="assets/images/img2.png">
    
        <input class="slide-input" id="slide-dot-4" type="radio" name="slides">
        <img class="slide-img" src="assets/images/img3.png">
    
        <input class="slide-input" id="slide-dot-5" type="radio" name="slides">
        <img class="slide-img" src="assets/images/img4.png">
    
        <input class="slide-input" id="slide-dot-6" type="radio" name="slides">
        <img class="slide-img" src="assets/images/croco1.jpg">
    
    </div>
</div>