<div class="container" >
    <div class="elfsight-app-26713181-531b-4cb7-af16-0e0764836db6" style="margin-left: 100px;"></div>
   
    <br><br>

    <!-- start home banner -->
 <app-banner></app-banner>

    <!-- end home banner -->
    <br><br>

    <!-- about us -->
    <app-about-us></app-about-us>


    <!-- end about us -->
    <br>

    <!-- services -->

    <app-expertize></app-expertize>
    <!-- end services --><br>

    <!-- skills -->
   <app-skills></app-skills>





    <!-- end skills --><br>

    <!-- projects -->
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-2 offset-5">
            <h4>PROJECTS</h4>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-12">
            <div class="timeline-centered">
                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">

                        <div class="timeline-icon color-1">
                            <p style="color: white;">1</p>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#"> Web app for the managment of a restaurant</a> <span>2019-2020</span></h2>
                            <p>This application consists of 3 actors that they are the administration, customer and chefs. This system includes profile management, authentication, customer management and table reservation. Management of chefs and their dishes.the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB. I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with GITHUB</p>
                            <a href="" (click)="openresto()">Hosting link</a>
                        </div>
                    </div>
                </article>


                <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-2">
                            <p style="color: white;">2</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Web app for facturation management</a> <span>2020-2021</span></h2>
                            <p>This application consists of 2 actors that they are the administration and employee. This system includes profile management, authentication,management of employer leave and invoices and quotes.the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB. I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with GITHUB</p>
                            <a href="" (click)="openfact()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-3">
                            <p style="color: white;">3</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Web app for primary school management and online education</a> <span>2021-2022</span></h2>
                            <p>This application consists of 3 actors that they are the administration,teacher and student or parents.This project allows the management of profils,authentication,courses,absence,grades,schedule,bulletins ... the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB.I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with FIREBASE</p>
                            <a href="" (click)="openschool()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInTop">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-4">
                            <p style="color: white;">4</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Mobile application for student</a> <span>2021-2022</span></h2>
                            <p>This mobile application is linked to the primary school management web application but on the student side. The student can log in or create an account and then he can consult his notes, absence.the dev part is made in FLUTTER AND DART technology</p>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-5">
                            <p style="color: white;">5</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">web app for management of a travel agency </a> <span>2021-2022</span></h2>
                            <p>This project allows the management of profils,authentication,flights,hotels ... the dev part is made in ANGULAR10,FASTAPI(framework python) and MYSQL.I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with FIREBASE</p>
                            <a href="" (click)="opentravel()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-none">
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- end projects --><br><br>

<!-- contact -->
<app-contact></app-contact>
<!-- end contact -->
<div class="row">
    <div class="col-sm-1">
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="margin-bottom: 50px;"><i class="bi bi-arrow-up"></i></a>

    </div>
</div>

</div>








