<div class="container">
    <div class="elfsight-app-26713181-531b-4cb7-af16-0e0764836db6" ></div>

    <!-- start home banner -->
 <app-banner></app-banner>

    <!-- end home banner -->
    <br><br>

    <!-- about us -->
    <app-about-us></app-about-us>


    <!-- end about us -->
    <br>

    <!-- services -->

    <app-expertize></app-expertize>
    <!-- end services --><br>

    <!-- skills -->
   <app-skills></app-skills>





    <!-- end skills --><br>

    <!-- experience -->
  <app-experience></app-experience>



    <!-- end experience -->
  <br><br>

<!-- contact -->
<app-contact></app-contact>









