<div class="container" style="margin-bottom: 700;">
    <div class="elfsight-app-26713181-531b-4cb7-af16-0e0764836db6"></div>
   
    <br><br>

    <!-- start home banner -->
    <section class="home_banner_area">
        <div class="row">
            <div class="col-md-6">
                <div class="top" style="padding-top: 80px;">
                    <h3 class="text-uppercase" id="anim1">Hell0</h3>
                    <h1 class="text-uppercase">I am Ajmi Mohamed Aziz</h1>
                    <h5 class="text-uppercase">Junior Full Stack Developer</h5>
                   
                   

                    <div class="d-flex align-items-center" style="padding-top: 20px;">
                        <a class="primary_btn" routerLink="contact"><span>Hire Me</span></a>
                        <a class="primary_btn tr-bg" (click)="open()"><span>Get CV</span></a>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="rounded_img">
                    <img src="assets/images\profil.jpg">

                </div>

            </div>



        </div>

    </section>

    <!-- end home banner -->
    <br><br>

    <!-- about us -->
    <section class="home_banner_area1">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/codeur.jpg" height="500" width="500">
            </div>
            <div class="col-md-6" style="padding-top: 100px;">
                <h2>Let’s <br>
                    Introduce about <br>
                    Myself</h2>
                <p>
                    Hi, I'm mohamed aziz ajmi, I'm 22 years old. I graduated from the Higher Institute of Information and Communication Technologies in borj-cédria with a bachelor's degree in computer science specializing in software engineering and information systems. 
                </p>
                <p>

                    Now I am a full stack js and flutter developer in Tunisia. I am a perfectionist person in the realization of my tasks, I like to challenge with my colleagues to solve complex problems. I learn very quickly,sociable which allows you to work in a team comfortably
                </p>



            </div>

        </div>

    </section>


    <!-- end about us -->
    <br>

    <!-- services -->

    <div class="row">
        <div class="col-lg-2 offset-5">
            <h4>MY EXPERTISE</h4>
        </div>
    </div>

    <div class="row" style="margin-left: 50px " id="expert">
        <div class="col-md-4">
            <div class="col-md-4 text-center animate-box">
                <div class="services color-1">
                    <span class="icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </span>
                    <div class="desc">
                        <h3> Conception AND WEB DESIGN</h3>
                        <p>Before developing my web and mobile applications I make my  conception and prototypes with  Draw.io and figma software</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4 text-center animate-box">
                <div class="services color-2">
                    <span class="icon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span>
                    <div class="desc">
                        <h3>MOBILE DEVELOPMENT</h3>
                        <p>I develop mobile applications with modern Technologies like Flutter.It's a cross-platform framework that allows you to generate from a single source code an android and ios application </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="col-md-4 text-center animate-box">
                <div class="services color-3">
                    <span class="icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </span>
                    <div class="desc">
                        <h3>WEB DEVELOPMENT</h3>
                        <p>I develop responsive web applications with modern Technologies like angular10 as a framwork frontend,node and express js as a framwork backend and mongodb as a database</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end services --><br>

    <!-- skills -->
    <div class="row">
        <div class="col-lg-2 offset-5">
            <h4>MY SKILLS</h4>
        </div>
    </div><br>
    <section style="margin-left: 100px;">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="progress-wrap">
                        <p>HTML</p>
                        <div class="progress">
                            <div class="progress-bar color-1" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width:75%">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="progress-wrap">
                        <p>CSS</p>
                        <div class="progress">
                            <div class="progress-bar color-2" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width:60%">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="progress-wrap">
                        <p>JAVASCRIPT</p>
                        <div class="progress">
                            <div class="progress-bar color-3" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width:75%">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="progress-wrap">
                        <p>BOOTSTRAP</p>
                        <div class="progress">
                            <div class="progress-bar color-4" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width:60%">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="progress-wrap">
                        <p>ANGULAR</p>
                        <div class="progress">
                            <div class="progress-bar color-5" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width:75%">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="progress-wrap">
                        <p>NODE AND EXPRESS JS</p>
                        <div class="progress">
                            <div class="progress-bar color-6" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width:60%">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="progress-wrap">
                        <p>MONGODB</p>
                        <div class="progress">
                            <div class="progress-bar color-7" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width:75%">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="progress-wrap">
                        <p>FLUTTER</p>
                        <div class="progress">
                            <div class="progress-bar color-8" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width:60%">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>





    <!-- end skills --><br>

    <!-- projects -->
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-2 offset-5">
            <h4>PROJECTS</h4>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-12">
            <div class="timeline-centered">
                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">

                        <div class="timeline-icon color-1">
                            <p style="color: white;">1</p>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#"> Web app for the managment of a restaurant</a> <span>2019-2020</span></h2>
                            <p>This application consists of 3 actors that they are the administration, customer and chefs. This system includes profile management, authentication, customer management and table reservation. Management of chefs and their dishes.the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB. I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with GITHUB</p>
                            <a href="" (click)="openresto()">Hosting link</a>
                        </div>
                    </div>
                </article>


                <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-2">
                            <p style="color: white;">2</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Web app for facturation management</a> <span>2020-2021</span></h2>
                            <p>This application consists of 2 actors that they are the administration and employee. This system includes profile management, authentication,management of employer leave and invoices and quotes.the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB. I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with GITHUB</p>
                            <a href="" (click)="openfact()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-3">
                            <p style="color: white;">3</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Web app for primary school management and online education</a> <span>2021-2022</span></h2>
                            <p>This application consists of 3 actors that they are the administration,teacher and student or parents.This project allows the management of profils,authentication,courses,absence,grades,schedule,bulletins ... the dev part is made in ANGULAR10,NODEJS and EXPRESSJS and MONGODB.I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with FIREBASE</p>
                            <a href="" (click)="openschool()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInTop">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-4">
                            <p style="color: white;">4</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">Mobile application for student</a> <span>2021-2022</span></h2>
                            <p>This mobile application is linked to the primary school management web application but on the student side. The student can log in or create an account and then he can consult his notes, absence.the dev part is made in FLUTTER AND DART technology</p>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-5">
                            <p style="color: white;">5</p>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#">web app for management of a travel agency </a> <span>2021-2022</span></h2>
                            <p>This project allows the management of profils,authentication,flights,hotels ... the dev part is made in ANGULAR10,FASTAPI(framework python) and MYSQL.I used PWA technology so that my app will be installable as a mobile app and desktop,opens on all screen types ans sizes</p>
                            <p>The front-end hosting part of my application is done with FIREBASE</p>
                            <a href="" (click)="opentravel()">Hosting link</a>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon color-none">
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>




<!-- end projects --><br><br>

<!-- contact -->
<app-contact></app-contact>
<!-- end contact -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="position: fixed; right: 100px; bottom: 20px;"><i class="bi bi-arrow-up"></i></a>



