<div class="container" style="padding-top: 50px;">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-shop-tab" data-bs-toggle="tab" data-bs-target="#nav-shop"
                  type="button" role="tab" aria-controls="nav-shop" aria-selected="true">Shop</button>
            <button class="nav-link " id="nav-home-tab1" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="false">Dingo</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Crococoder</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Primary school</button>
            <button class="nav-link" id="nav-profile-tab1" data-bs-toggle="tab" data-bs-target="#nav-profile1"
                type="button" role="tab" aria-controls="nav-profile1" aria-selected="false">Primary school version mobile</button>
                <button class="nav-link" id="nav-contact-tab1" data-bs-toggle="tab" data-bs-target="#nav-contact1"
                type="button" role="tab" aria-controls="nav-contact1" aria-selected="false">Travel_agency</button>
          <button class="nav-link" id="nav-ssa-tab1" data-bs-toggle="tab" data-bs-target="#nav-ssa"
                  type="button" role="tab" aria-controls="nav-ssa" aria-selected="false">Software Solution Agency</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-shop" role="tabpanel" aria-labelledby="nav-shop-tab">
        <div class="row">
          <div class="col-md-2 offset-5 " style="padding-top:50px ;">
            <button type="button" class="btn btn-outline-primary" (click)="opengit()">
              <span class='bi bi-github'></span>Github Link</button>

          </div>
        </div>
        <div class="row" style="padding-top: 70px;">
          <div class="col-md-6">
            <h2>Shop:</h2>
          </div>
          <div class="col-md-6">
            <img src="assets/images/angular.svg" width="50" height="50">
            <img src="assets/images/node.jpg" width="50" height="50">
            <img src="assets/images/express.png" width="50" height="50">
            <img src="assets/images/mongo.png" width="50" height="50">
            <img src="assets/images/nx.png" width="50" height="50">
            <img src="assets/images/ngrx.png" width="50" height="50">
            <img src="assets/images/jwt.png" width="50" height="50">
            <img src="assets/images/primefaces.png" width="50" height="50">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>E-Commerce Application.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5>Responsibilities:</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 offset-1 " style="padding-top: 50px;">
            <li>Conception UML</li>
            <li>Creating user interface</li>
            <li>UI/UX Design</li>
            <li>Authentification</li>
            <li>Api implementation</li>
          </div>
          <div class="col-md-6 ">
            <img src="assets/images/tasks.png" width="500" height="400">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  ">
            <h3>Gallery:</h3>
            <hr />
          </div>

        </div>

<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-33-05.png" class="d-block w-100" alt="..." height="700px" loading="lazy">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-44-55.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-45-42.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-43-32.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item active">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-44-23.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-47-39.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-11.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-36.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-47-39.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-11.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-36.png" class="d-block w-100" alt="..." height="700px">-->
<!--            </div>-->
<!--          </div>-->
<!--          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--          </button>-->
<!--          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden bg-secondary">Next</span>-->
<!--          </button>-->


                    <div class="row">
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-33-05.png" id="myImage" width="500" height="400" loading="lazy">

                        </div>
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-44-55.png" id="abc" width="500" height="400" loading="lazy">
                        </div>



                    </div><br>
                    <hr>
                    <div class="row">
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-45-42.png" id="abc" width="500" height="400" loading="lazy">

                        </div>
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-43-32.png" id="abc" width="500" height="400" loading="lazy">

                        </div>



                    </div><br>
                    <hr>
                    <div class="row">
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-44-23.png" id="abc" width="500" height="400" loading="lazy">

                        </div>
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-47-39.png" id="abc" width="500" height="400" loading="lazy">

                        </div>



                    </div><br>
                    <hr>
                    <div class="row">
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-11.png" id="abc" width="500" height="400" loading="lazy">

                        </div>
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-36.png" id="abc" width="500" height="400" loading="lazy">

                        </div>



                    </div><br>
                    <hr>

                    <div class="row">
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-48-58.png" id="abc" width="500" height="400">

                        </div>
                        <div class="col-md-6  ">
                            <img src="assets/images/Screenshot%20from%202023-05-28%2018-49-18.png" id="abc" width="500" height="400">

                        </div>



                    </div><br>
                    <hr>


      </div>
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col-md-2 offset-5 " style="padding-top:50px ;">
                    <button type="button" class="btn btn-outline-primary" (click)="opengit5()">
                        <span class='bi bi-github'></span>Github Link</button>

                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <h2>Dingo:</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/angular.svg" width="50" height="50">
                    <img src="assets/images/node.jpg" width="50" height="50">
                    <img src="assets/images/express.png" width="50" height="50">
                    <img src="assets/images/mongo.png" width="50" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Restaurant management.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Responsibilities:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-1 " style="padding-top: 50px;">
                    <li>Conception UML</li>
                    <li>Creating user interface</li>
                    <li>UI/UX Design</li>
                    <li>Authentification</li>
                    <li>Api implementation</li>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/images/tasks.png" width="500" height="400">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  ">
                    <h3>Gallery:</h3>
                    <hr />
                </div>

            </div>

                      <div class="row">
                <div class="col-md-12  ">
                    <img src="assets/images/Screenshot%20from%202023-04-11%2000-05-49.png" id="myImage" width="100%" height="550">

                </div>




            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <img src="assets/images/Screenshot%20from%202023-04-11%2000-06-16.png " id="abc" width="100%" height="550">

                </div>





            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-12  ">
                    <img src="assets/images/Capture%20d’écran%20(544).png" id="abc" width="100%" height="550">

                </div>




            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-12  ">
                    <img src="assets/images/Capture d’écran (545).png" id="abc" width="100%" height="550">

                </div>




            </div><br>
            <hr><br>

            <div class="row">
              <div class="col-md-12  ">
                <img src="assets/images/Capture d’écran (558).png" id="abc" width="100%" height="550">

              </div>




            </div><br>

            <hr>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
                <div class="col-md-2 offset-5 " style="padding-top:50px ;">
                    <button type="button" class="btn btn-outline-primary" (click)="opengit1()">
                        <span class='bi bi-github'></span>Github Link</button>

                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <h2>Facturation Management:</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/angular.svg" width="50" height="50">
                    <img src="assets/images/node.jpg" width="50" height="50">
                    <img src="assets/images/express.png" width="50" height="50">
                    <img src="assets/images/mongo.png" width="50" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Facturation management.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Responsibilities:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-1 " style="padding-top: 50px;">
                    <li>Conception UML</li>
                    <li>Creating user interface</li>
                    <li>UI/UX Design</li>
                    <li>Authentification</li>
                    <li>Api implementation</li>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/images/tasks.png" width="500" height="400">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  ">
                    <h3>Gallery:</h3>
                    <hr>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap0.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap01.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap2.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap3.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap4.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap5.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap7.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap9.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap10 (2).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap10.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap15.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap20.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/cap21.png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/cap22.png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
                <div class="col-md-2 offset-5 " style="padding-top:50px ;">
                    <button type="button" class="btn btn-outline-primary" (click)="opengit2()">
                        <span class='bi bi-github'></span>Github Link</button>

                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <h2>Primary school:</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/angular.svg" width="50" height="50">
                    <img src="assets/images/node.jpg" width="50" height="50">
                    <img src="assets/images/express.png" width="50" height="50">
                    <img src="assets/images/mongo.png" width="50" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Primary school management.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Responsibilities:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-1 " style="padding-top: 50px;">
                    <li>Conception UML</li>
                    <li>Creating user interface</li>
                    <li>UI/UX Design</li>
                    <li>Authentification</li>
                    <li>Api implementation</li>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/images/tasks.png" width="500" height="400">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  ">
                    <h3>Gallery:</h3>
                    <hr>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (470).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (471).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (472).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (474).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (475).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (476).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (477).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (478).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (479).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (481).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (482).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (483).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (484).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (485).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (486).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (487).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>


            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (488).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (489).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (490).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (500).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>


            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (501).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (502).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>


            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (503).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (504).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (505).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (506).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (507).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (508).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (509).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (510).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>

            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (511).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (515).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>


            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (513).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/Capture d’écran (514).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
        </div>
        <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab1">
            <div class="row">
                <div class="col-md-2 offset-5 " style="padding-top:50px ;">
                    <button type="button" class="btn btn-outline-primary" (click)="opengit3()">
                        <span class='bi bi-github'></span>Github Link</button>

                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <h2>E-learning:</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/flutter.png" width="50" height="50">
                    <img src="assets/images/dart.png" width="50" height="50">
                    <img src="assets/images/node.jpg" width="50" height="50">
                    <img src="assets/images/express.png" width="50" height="50">
                    <img src="assets/images/mongo.png" width="50" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>mobile app for student management Primary  school.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Responsibilities:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-1 " style="padding-top: 50px;">
                    <li>Conception UML</li>
                    <li>Creating user interface</li>
                    <li>UI/UX Design</li>
                    <li>Authentification</li>
                    <li>Api implementation</li>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/images/tasks.png" width="500" height="400">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  ">
                    <h3>Gallery:</h3>
                    <hr>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/mobile1.png" id="abc" width="200" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (1).png" id="abc" width="200" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (2).png" id="abc" width="200" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (3).png" id="abc" width="200" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (4).png" id="abc" width="200" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (5).png" id="abc" width="200" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (6).png" id="abc" width="200" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/mobile2 (7).png" id="abc" width="200" height="400">

                </div>



            </div><br>
            <hr>





        </div>
        <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab1">
            <div class="row">
                <div class="col-md-2 offset-5 " style="padding-top:50px ;">
                    <button type="button" class="btn btn-outline-primary" (click)="opengit4()">
                        <span class='bi bi-github'></span>Github Link</button>

                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <h2>Travel_agency:</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/angular.svg" width="50" height="50">
                    <img src="assets/images/fastapi.png" width="80" height="50">

                    <img src="assets/images/mysql.png" width="110" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Travel_agency.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Responsibilities:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-1 " style="padding-top: 50px;">
                    <li>Conception UML</li>
                    <li>Creating user interface</li>
                    <li>UI/UX Design</li>
                    <li>Authentification</li>
                    <li>Api implementation</li>
                </div>
                <div class="col-md-6 ">
                    <img src="assets/images/tasks.png" width="600" height="400">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3  ">
                    <h3>Gallery:</h3>
                    <hr>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (1).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (2).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (3).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (4).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (5).png" id="abc" width="500" height="400">

                </div>
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (6).png" id="abc" width="500" height="400">

                </div>



            </div><br>
            <hr>
            <div class="row">
                <div class="col-md-6  ">
                    <img src="assets/images/travel1 (7).png" id="abc" width="500" height="400">

                </div>




            </div><br>
            <hr>

















        </div>
      <div class="tab-pane fade" id="nav-ssa" role="tabpanel" aria-labelledby="nav-ssa-tab1">

        <div class="row" style="padding-top: 70px;">
          <div class="col-md-6">
            <h2>Portfolio For An Agency</h2>
          </div>
          <div class="col-md-6">
            <img src="assets/images/angular.svg" width="50" height="50">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Portfolio For An Agency</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5>Responsibilities:</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 offset-1 " style="padding-top: 50px;">

            <li>Creating user interface</li>
            <li>UI/UX Design</li>
          </div>
          <div class="col-md-6 ">
            <img src="assets/images/tasks.png" width="600" height="400">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  ">
            <a href="https://jimyyy.github.io/portfolio-mayssa/" class="button">Link Hosting</a>
            <hr>
          </div>

        </div>


















      </div>
    </div>




</div>
