<section class="home_banner_area1">
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/undraw_Content_team_re_6rlg.png" width="500" style="padding-top: 80px">
        </div>
        <div class="col-md-6" style="padding-top: 50px;">
            <h2>Let’s
                Introduce about
                Myself</h2>
            <p>
                Hi, I'm mohamed aziz ajmi, I'm 22 years old. I graduated from the Higher Institute of Information and Communication Technologies in borj-cédria with a bachelor's degree in computer science specializing in software engineering and information systems.
            </p>
            <p>

                Now I am a full stack  developer in Tunisia. I am a perfectionist person in the realization of my tasks, I like to challenge with my colleagues to solve complex problems. I learn very quickly, sociable which allows me to work in a team comfortably,.
            </p>
          <p>
            I am passionate about creating innovative solutions that solve complex problems. With a strong foundation in computer science, I have developed expertise in designing and developing high-quality software applications using a range of programming languages and technologies. My ability to collaborate with cross-functional teams and communicate technical concepts in a clear and concise manner has proven to be invaluable in delivering successful projects on time and within budget. I am always looking for new challenges and opportunities to grow as a software engineer, and I am excited to leverage my skills and experience to contribute to your organization's success.
          </p>



        </div>

    </div>

</section>
