<section class="home_banner_area1">
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/codeur.jpg" width="500">
        </div>
        <div class="col-md-6" style="padding-top: 10px;">
            <h2>Let’s <br>
                Introduce about <br>
                Myself</h2>
            <p>
                Hi, I'm mohamed aziz ajmi, I'm 22 years old. I graduated from the Higher Institute of Information and Communication Technologies in borj-cédria with a bachelor's degree in computer science specializing in software engineering and information systems. 
            </p>
            <p>

                Now I am a full stack js and flutter developer in Tunisia. I am a perfectionist person in the realization of my tasks, I like to challenge with my colleagues to solve complex problems. I learn very quickly,sociable which allows you to work in a team comfortably
            </p>



        </div>

    </div>

</section>
