<section class="home_banner_area" style="align-items: center;justify-content: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12"  >
                <div class="top">
                    <h3 class="text-uppercase animate__animated animate__zoomInUp" id="anim1">Hell0</h3>
                    <h1 class="text-uppercase animate__animated animate__zoomInUp">I am Ajmi Mohamed Aziz</h1>
                    <h5 class="text-uppercase animate__animated animate__zoomInUp">Software Engineer & Devops Enthousiast (AWS)</h5>



                    <div class="d-flex align-items-center" style="padding-top: 10px">
                        <a class="primary_btn animate__animated " routerLink="contact"><span>Hire Me</span></a><br>
                        <a class="primary_btn tr-bg animate__animated " (click)="open()" style="margin-left: 18px"><span>Get CV</span></a>
                    </div><br>

                </div><br>

            </div><br><br>

            <div class="col-md-6">
                <div class="rounded_img">
                    <img src="assets/images/profil.png" width="300" alt="Responsive image" class=" animate__animated  animate__rotateIn img-responsive" loading="lazy" style="justify-content: flex-end">

                </div>

            </div>



        </div>


    </div>

</section>
