<section class="home_banner_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="top" style="padding-top: 10px;">
                    <h3 class="text-uppercase animate__animated animate__zoomInUp" id="anim1">Hell0</h3>
                    <h1 class="text-uppercase animate__animated animate__zoomInUp">I am Ajmi Mohamed Aziz</h1>
                    <h5 class="text-uppercase animate__animated animate__zoomInUp">Junior Full Stack Developer</h5>
                   
                   
    
                    <div class="d-flex align-items-center" style="padding-top: 10px;">
                        <a class="primary_btn animate__animated " routerLink="contact"><span>Hire Me</span></a>
                        <a class="primary_btn tr-bg animate__animated " (click)="open()"><span>Get CV</span></a>
                    </div><br>
    
                </div><br>
    
            </div><br><br>
    
            <div class="col-md-6">
                <div class="rounded_img">
                    <img src="assets/images/profil.jpg" width="400" alt="Responsive image" class=" animate__animated  animate__rotateIn img-responsive" style="margin-right: 60px;" >
    
                </div>
    
            </div>
    
    
    
        </div>
    

    </div>
 
</section>
