<div class="row">
    <div class="col-lg-2 offset-5">
        <h4>MY SKILLS</h4>
    </div>
</div><br>
<section >
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="progress-wrap">
                    <p>HTML</p>
                    <div class="progress">
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width:75%">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                <div class="progress-wrap">
                    <p>CSS</p>
                    <div class="progress">
                        <div class="progress-bar color-2" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="progress-wrap">
                    <p>JAVASCRIPT</p>
                    <div class="progress">
                        <div class="progress-bar color-3" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width:75%">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                <div class="progress-wrap">
                    <p>BOOTSTRAP</p>
                    <div class="progress">
                        <div class="progress-bar color-4" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="progress-wrap">
                    <p>ANGULAR</p>
                    <div class="progress">
                        <div class="progress-bar color-5" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width:75%">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                <div class="progress-wrap">
                    <p>NODE AND EXPRESS JS</p>
                    <div class="progress">
                        <div class="progress-bar color-6" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="progress-wrap">
                    <p>MONGODB</p>
                    <div class="progress">
                        <div class="progress-bar color-7" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width:75%">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                <div class="progress-wrap">
                    <p>FLUTTER</p>
                    <div class="progress">
                        <div class="progress-bar color-8" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
