<div class="timeline">
  <div class="container">
    <main class="row">
      <!--  education section-->
      <section class="col">
        <header class="title">
          <h2>My Education</h2>

        </header>
        <div class="contents">
          <div class="box">
            <h4>2018 - 2019</h4>
            <h3>High School Degree</h3>
            <p>Bachelor's degree in experimental sciences is likely to have a strong foundation in scientific principles and methodology. He would have studied a range of scientific subjects such as physics, chemistry, biology, and mathematics during his undergraduate education.</p>
          </div>

          <div class="box">
            <h4>2019 - 2022</h4>
            <h3>Bachelor's Degree in Software Engineering</h3>
            <p>A Bachelor's degree in Software Engineering or Software Development has a strong foundation in the principles, methods, and techniques used in designing, developing, and maintaining software systems. They have gained in-depth knowledge and skills in computer programming, software development life cycle, software testing, and project management.</p><br>
            <p>Skills : Cloud Computing, Web And Mobile Development, Cyber Security, Programming Language, Algorithm , Data Science</p>
          </div>
        </div>
      </section>

      <!--  experience section-->
      <section class="col">
        <header class="title">
          <h2>My Experience</h2>

        </header>
        <div class="contents">
          <div class="box">
            <h4>06-2021 - 08-2021</h4>
            <h3>Intern : Full Stack Developer At Crococoder</h3>
            <p>full stack JavaScript development provide the developer with practical experience in developing full stack web applications using JavaScript technologies. The developer would work alongside experienced developers, designers, and project managers to build web applications from start to finish.</p>
          </div>

          <div class="box">
            <h4>01-2022 - 05-2022</h4>
            <h3> Intern : Full Stack Developer At Csplus</h3>
            <p>Work on full stack web applications but with a greater focus on more complex features and technologies</p>
          </div>

          <div class="box">
            <h4>07-2022 - 10-2022</h4>
            <h3>Full Stack Developer</h3>
            <h5>Freelance</h5>
            <p>freelance project as a full stack developer would involve developing the user interface and user experience for a web or mobile application. The developer would be responsible for implementing the visual design and functionality of the application, ensuring that it is responsive, accessible, and user-friendly</p>
          </div>

          <div class="box">
            <h4>10-2022 - 04-2023</h4>
            <h3>Software Engineer At Amineware</h3>
            <p>Skills: Angular ,Nodejs, Nestjs, MongodDb, Aws, Docker, Redis, Jira, Unit Test ,  </p>
          </div>
        </div>
      </section>
    </main>


  </div>

</div>

